/*
* @Author: Administrator
* @Date:   2018-05-13 18:54:42
* @Last Modified by:   Administrator
* @Last Modified time: 2018-09-12 13:47:26
*/
@import url('base.css');
/* 头部开始 */
header{
	width: 100%;
	height: 40px;
	background: #333333;
}
.homeAppliances,.intelligence,.collocation,.parts,.perimeter,.recommend,.hotEvaluate,.content,.information{
	width: 100%;
	height: auto;
	background: #f5f5f5;
	padding-bottom: 30px;
}
.main{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.headerL{
	width: 430px;
	height: 100%;
	float: left;
}
.headerR{
	width: 277px;
	height: 100%;
	float: right;
}
.headerL a{
	float: left;
	font-size: 12px;
	color: #b0b0b0;
	border-right: 1px #424242 solid;
	padding: 0 8px 0 8px;
	margin-top: 14px;
}
.headerL a:hover{
	color: #ffffff;
}
.headerL a:first-child{
	padding-left: 0;
}
.headerL a:last-child{
	padding-right: 0;
	border-right: none;
}
.headerR_L{
	width: 136px;
	height: 40px;
	float: left;
}
.headerR_L a:hover{
	color: #ffffff;
}
.headerR a{
	font-size: 12px;
	color: #b0b0b0;
	line-height: 40px;
	float: left;
	padding: 0 4px;
}
.headerR span{
	color: #424242;
	line-height: 40px;
	float: left;
}
.shoppingCart{
	width: 120px;
	height: 40px;
	background: #424242;
	float: right;
	margin-left: 13px;
	position: relative;
}
.shoppingCart div{
	width: 316px;
	height: 0;
	background: #fff;
	font-size: .24px;
	line-height: 0;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 999;
	overflow: hidden;
}
.shoppingCart:hover a{
	color: #ff0000;
}
.shoppingCart:hover a i{
	color: #ff0000;
}
.shoppingCart:hover a span{
	color: #ff0000;
}
.shoppingCart a{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	padding-left: 10px;
}
.shoppingCart a span{
	display: block;
	float: right;
	color: #b0b0b0;
	font-size: 12px;
}
.shoppingCart i{
	color: #b0b0b0;
	font-size: 14px;
	line-height: 40px;
}

/* 头部结束 */
/* 导航开始 */
.navigation{
	width: 100%;
	height: 100px;
	position: relative;
}
.tow{
	width: 100%;
	height: 0px;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 9999;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transition: height .5s; 
}
nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	/* overflow: hidden; */
	position: relative;
}
nav .logo{
	display: block;
	width: 55px;
	height: 55px;
	background: #ff6700 url('../img/mi-logo.png') no-repeat center;
	margin-top: 22px;
	float: left;
	margin-right: 189px;
	display: flex;
	justify-content: space-between;
}
.nav{
/* 	width: 600px; */
	height: 100px;
	float: left;
	display: flex;
}
.nav .navSon .navSonA{
	font-size: 16px;
	color: #333333;
	margin-left: 21px;
	line-height: 100px;
}
.navR{
	width: 296px;
	height: 50px;
	float: right;
	margin-top: 25px;
	display: flex;
}
.navR input{
	width: 243px;
	height: 44px;
	border: 1px solid #e0e0e0;
	text-indent: 4em;

}
.search{
	width: 50px;
	height: 48px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-left: none;
}
.search:hover{
	background: #ff6700;
}
.search:hover i{
	color: #fff;
}
.search i{
	font-size: 18px;
	color: #616161;
	line-height: 48px;
	text-align: center;
}
.second{
	width: 1226px;
	/* height: 230px; */
	height: 0;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	/* display: none; */
	border-top : 1px solid #B0B0B0;
	transition: height .5s; 
}
.second>li{
	width: 203px;
	height: 100%;
	position: relative;
	float: left;
}
.second>li>a{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.second>li>a>.navNew{
	width: 64px;
	height: 20px;
	font-size: 12px;
	color: #FF6700;
	text-align: center;
	line-height: 20px;
	border: 1px solid #ff6700;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.second>li>a>img{
	width: 160px;
	height: 110px;
	margin: 44px auto 0;
}
.second>li>a>h1{
	font-size: 12px;
	color: #6e6e6e;
	text-align: center;
	line-height: 20px;
	margin-top: 16px;
}
.second>li>a>h2{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	line-height: 20px;
}
.second>li>a>.line{
	width: 1px;
	height: 100px;
	background: #b0b0b0;
	position: absolute;
	right: 0;
	top: 45px;
}
/* 导航结束 */
/* banner开始 */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.imgbox{
	width: 100%;
	height: 100%;
	position: absolute;
}
.imgbox li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 1s;
}
.imgbox li a{
	display: block;
	width: 100%;
	height: 100%;
}
aside{
	width: 234px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	box-sizing: border-box;
	z-index: 999;
}
aside .menu{
	width: 234px;
	height: 100%;
}
aside .menu .menuList{
	width: 234px;
	height: 42px;
}
aside .menu .menuList:first-child{
	margin-top: 20px;
}
aside .menu .menuList .menuListA{
	display: block;
	width: 234px;
	height: 42px;
	font-size: 12px;
	color: #ffffff;
	line-height: 42px;
	padding: 0 24px 0 29px;
	box-sizing: border-box;
}
aside .menu .menuList .menuListA i{
	color: #aea4a9;
	float: right;
}
.secondaryPage{
	width: 990px;
	height: 460px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 234px;
	z-index: 999;
	padding-left: 20px;
	box-sizing: border-box;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	overflow: hidden;
	display: none;
}
.secondaryPage li{
	width: 240px;
	height: 76px;
	display: flex;
	align-items: center;
	color: #333333;
	float: left;
}
.secondaryPage li>img{
	width: 32px;
	height: 38px;
	margin-right: 20px;
}



aside ul li a:hover{
	background: #ff6700;
}
.bannerGo{
	width: 40px;
	height: 40px;
	background: red;
}
.bannerBack{
	width: 40px;
	height: 40px;
	background: red;
}
.circle{
	width: 90px;
	height: 10px;
	position: absolute;
	right: 35px;
	bottom: 25px;
	display: flex;
	justify-content: space-between;
}
.circle li{
	width: 6px;
	height: 6px;
	background: rgba(0, 0, 0, 0.6);
	border: 2px solid #804a48;
	border-radius: 50%;
	cursor: pointer;
}
.bannerBack{
	display: block;
	width: 41px;
	height: 69px;
	background: url('../img/icon-slides.png') no-repeat -84px 0;
	position: absolute;
	left: 234px;
	/* 定位中的垂直居中 */
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}
.bannerBack:hover{
	background: url('../img/icon-slides.png') no-repeat 0 0;
}
.bannerGo{
	display: block;
	width: 41px;
	height: 69px;
	background: url('../img/icon-slides.png') no-repeat -126px 0;
	position: absolute;
	right: 0;
	/* 定位中的垂直居中 */
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
}
.bannerGo:hover{
	background: url('../img/icon-slides.png') no-repeat -42px 0;

}
/* banner结束 */
/* show开始 */
.show{
	width: 1226px;
	height: 170px;
	margin: 14px auto 0;
	display: flex;
	justify-content: space-between;
}
.serve{
	width: 234px;
	height: 100%;
	padding: 0 2px 0 4px;
	box-sizing: border-box;
	background: #5f5750;
}
.serve li{
	width: 76px;
	height: 85px;
	float: left;
	position: relative;
}
.serve li a{
	display: block;
	width: 76px;
	height: 85px;
	color: #cdcac8;
	text-align: center;
	overflow: hidden;
}
.serve li a:hover{
	color: #ffffff;
}
#font-1{
	font-size: 26px;
	line-height: 33px;
	display: block;
	margin-top: 16px;
}
.serve li a span{
	color: #cdcac8;
	font-size: 12px;
	line-height: 22px;
}
.show a img,.show a{
	width: 316px;
	height: 100%;
}
.show a img:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
}
.box1{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	right: 0;
	top: 9px;
}
.box2{
	width: 64px;
	height: 1px;
	background: #665e57;
	position: absolute;
	bottom: 0;
	left: 5px;
}

/* show结束 */
/* 小米明星单品开始*/
.single{
	width: 1226px;
	height: 399px;
	margin: 25px auto 40px;
}
.singleT{
	width: 100%;
	height: 59px;
}
.singleT_l{
	width: 140px;
	height: 100%;
	line-height: 59px;
	font-size: 22px;
	font-family: "黑体";
	float: left;
}
.singleT_r{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 25px;
	display: flex;
}
.singleT_L,.singleT_R{
	width: 34px;
	height: 22px;
	border: 1px solid #e0e0e0;
}
.singleT_R{
	border: 1px solid #AAADB4;
}
.singleT_L i,.singleT_R i{
	font-size: 12px;
	line-height: 22px;
	color: #e0e0e3;
	margin-left: 10px;
}
.singleT_R{
	border-left: none;
}
.singleB{
	width: 100%;
	height: 340px;
	display: flex;
	justify-content: space-between;
}
.fastshopping{
	width: 234px;
	height: 339px;
	background: #f1eded;
	border-top: 1px solid #ffac13;
}
.fastShopping_right{
	width: 978px;
	height: 339px;
	overflow: hidden;
}
.fastShopping_box{
	width: 1984px;
	height: 339px;
	display: flex;
	justify-content: space-between;
	transition: all 1s;
}
.timeInt{
	font-size: 22px;
	line-height: 46px;
	color: #ff6700;
	text-align: center;
	margin-top: 54px;
}
.quick{
	width: 34px;
	height: 53px;
	margin: 25px auto;
}
.sub{
	font-size: 16px;
	color: rgba(0,0,0,0.54);
	text-align: center;
}
.countdown{
	width: 168px;
	height: 46px;
	margin: 28px auto 0;
}
.timeBox{
	width: 46px;
	height: 46px;
	background: #605751;
	font-size: 20px;
	text-align: center;
	line-height: 46px;
	font-weight: 700;
	color: #fff;
	float: left;
}
.dosh{
	width: 15px;
	height: 46px;
	color: #605751;
	font-size: 20px;
	text-align: center;
	line-height: 46px;
	float: left;
	font-weight: 700;
}
.fastShopping_box li a{
	display: block;
	width: 234px;
	height: 339px;
	background: #fafafa;
	overflow: hidden;
}
.fastShopping_box li:first-child{
	border-top: 1px solid #2196f3;
}
.fastShopping_box li:nth-child(2){
	border-top: 1px solid #83c44e;
}
.fastShopping_box li:nth-child(3){
	border-top: 1px solid #2196f3;
}
.fastShopping_box li:nth-child(4){
	border-top: 1px solid #e53935;
}
.fastShopping_box li:nth-child(5){
	border-top: 1px solid #00c0a5;
}
.fastShopping_box li:nth-child(6){
	border-top: 1px solid #2196f3;
}
.fastShopping_box li:nth-child(7){
	border-top: 1px solid #e53935;
}
.fastShopping_box li:nth-child(8){
	border-top: 1px solid #00c0a5;
}
.fastShopping_box li a img{
	width: 166px;
	height: 159px;
	margin: 44px auto 0;
}
.fastShopping_box li a h1{
	font-size: 12px;
	font-weight: normal;
	color: #212121;
	line-height: 22px;
	text-align: center;
	margin-top: 23px;
}
.fastShopping_box li a h2{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	line-height: 23px;
	text-align: center;
}
.fastShopping_box li a h3{
	font-size: 12px;
	font-weight: normal;
	color: #ff6709;
	line-height: 40px;
	text-align: center;
}
/* 小米明星单品结束 */
/* demo开始 */
.demo{
	width: 1226px;
	height: 674px;
	margin: 0 auto;
}
.top{
	width: 100%;
	height: 60px;
}
.top_left{
	width: auto;
	height: 60px;
	float: left;
	line-height: 60px;
	font-size: 22px;
	font-family: "黑体";
}
.top_right{
	width: auto;
	height: 60px;
	float: right;
	font-size: 22px;
}
.top_right li{
	width: auto;
	height: 100%;
	float: left;
	margin-right: 30px;
}
.top_right li a{
	display: block;
	width: auto;
	height: auto;
	color: #424242;
	font-family: "黑体";
	margin-top: 23px;
	font-size: 16px;
}
/* .top_right li a:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
} */
.top_right li:last-child{
	margin-right: 0;
}
.bottom{
	width: 100%;
	height: 614px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.bottom_left,.bottom_left a {
	display: block;
	width: 234px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	/* background: seagreen; */
}
.bottom_left a:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transform:translateY(-2px);
}
.bottom_left div,.bottom_left div a{
	width: 234px;
	height: 300px;
}
.bottom_right{
	width: 978px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 248px;

}
.bottom_right li{
	float: left;
	margin: 0 14px 14px 0;
}
.bottom_right li:nth-child(4n){
	margin-right: 0;
}
.bottom_right li,.bottom_right li a{
	display: block;
	width: 234px;
	height: 300px;
	position: relative;
	background: #ffffff;
	overflow: hidden;
}
.bottom_right li:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transform:translateY(-2px);
}
.bottom_right li:last-child:hover{
	box-shadow:none;
	transform:none;
}
.bottom_right li:last-child{
	background: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.bottom_right li:last-child div{
	display: block;
	width: 234px;
	height: 143px;
}
.bottom_right li:last-child div:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transform:translateY(-2px);
}
.bottom_right li:last-child div a{
	display: block;
	width: 234px;
	height: 143px;
}
.new,.cut{
	width: 64px;
	height: 20px;
	background: #83c44e;
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 20px;
}
.cut{
	background: #e53935;
}
.img{
	width: 205px;
	height: 143px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.bottom_right li a .title{
	line-height: 20px;
	text-align: center;
	color: #000000;
	font-size: 12px;
	position: absolute;
	bottom: 78px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.bottom_right li a .describe{
	line-height: 20px;
	text-align: center;
	color: #b0b0b0;
	font-size: 12px;
	position: absolute;
	bottom: 59px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.bottom_right li a .money{
	line-height: 40px;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	position: absolute;
	bottom: 19px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.bottom_right li a .money span,.bottom_right li a .money_1 span{
	color: #b0b0b0;
	text-decoration: line-through;
}
.bottom_right li a .money_1{
	line-height: 20px;
	text-align: center;
	color: #ff6700;
	font-size: 12px;
	position: absolute;
	bottom: 59px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.bottom_right li a .evaluate_1{
	line-height: 40px;
	text-align: center;
	color: #b7b0b0;
	font-size: 12px;
	position: absolute;
	bottom: 19px;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
}
.son img{
	width: 79px;
	height: 78px;
	position: absolute;
	right: 20px;
	top: 29px;
}
.title_1{
	width: 100px;
	color: #333333;
	font-size: 12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height: 26px;
	position: absolute;
	left: 30px;
	top: 37px;
}
.money_0{
	color: #ff6700;
	font-size: 12px;
	line-height: 26px;
	position: absolute;
	left: 30px;
	bottom: 54px;
}
.more{
	color: #333333;
	font-size: : 18px;
	line-height: 26px;
	position: absolute;
	left: 30px;
	top: 51px;
}
.hot{
	color: #757575;
	font-size: 12px;
	line-height: 19px;
	position: absolute;
	left: 30px;
	bottom: 48px;
}
.evaluate{
	width: 100%;
	height: 76px;
	background: #ff6700;
	position: absolute;
	bottom: -76px;
	left: 0;
	transition: all .2s linear;
	padding: 0 28px 0;
	box-sizing: border-box;
}
.bottom_right li .evaluate a{
	width: 100%;
	height: 76px;
	background: #ff6700;
	overflow: hidden;
}
.bottom_right li:hover .evaluate{
	transform: translateY(-76px);
}
.bottom_right li .evaluate a p{
	margin-top: 7px;
	width: 100%;
	height: 36px;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	overflow: hidden;
}
.bottom_right li .evaluate a h1{
	font-size: 12px;
	line-height: 27px;
	color: #ffc299;
}
/* demo结束 */
/* 热评开始 */
.hotEvaluate_main{
	width: 1226px;
	height: 474px;
	margin: 0 auto;
}
.hotEvaluate_top{
	width: 100%;
	height: 59px;
	line-height: 59px;
	font-family: "黑体";
	font-size: 22px;
}
.hotEvaluate_bottom{
	width: 100%;
	height: 415px;
	display: flex;
	justify-content: space-between;
}
.hotEvaluate_bottom li,.hotEvaluate_bottom li div{
	width: 296px;
	height: 100%;
	background: #ffffff;
	position: relative;
}
.hotEvaluate_bottom  :hover div{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transform:translateY(-2px);
}
.hotEvaluate_bottom li a{
	display: block;
	width: 100%;
	height: 220px;
}
.hotEvaluate_bottom li a img{
	width: 100%;
	height: 220px;
}
.hotEvaluate_bottom li p {
	width: 232px;
	height: 72px;
	font-size: 12px;
	margin: 28px 28px 0;
	color: #000000;
	/* 09 12 弹性盒子 Flexbox */
	display:-webkit-box;
	/* 弹性盒子中子元素排布，垂直 */
	-webkit-box-orient:vertical;
	/* 显示行数 */
	-webkit-line-clamp:3;
	/* height属性值为line-height的整数倍*/
	line-height:24px;
	overflow:hidden;
}
.hotEvaluate_bottom li p a{
	width: 232px;
	height: 72px;
	color: #000000;
}
.hotEvaluate_bottom li h1{
	font-size: 12px;
	color: #b0b0b0;
	line-height: 28px;
	margin: 15px 0 0 28px;
}
.hotEvaluate_bottom li h2{
	font-size: 12px;
	line-height: 26px;
	margin: 15px 0 0 28px;
	float: left;
}
.hotEvaluate_bottom li h2 a{
		display: block;
		width: auto;
		height: auto;
		color: #000000;
		float: left
}
#hotEvaluate_bottom1{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 26px;
}
.hotEvaluate_bottom2{
	color: #ff6700;
	font-size: 12px;
	line-height: 26px;
}
/* 热评结束 */
/* 内容开始 */
.content_main{
	width: 1226px;
	height: 474px;
	margin: 0 auto;
}
.content_top{
	width: 100%;
	height: 59px;
	line-height: 59px;
	font-family: "黑体";
	font-size: 22px;
}
.content_bottom{
	width: 100%;
	height: 415px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.contentList{
	width: 296px;
	height: 420px;
	background: #fff;
	border-top: 1px solid #ff6700;
}
.content_title{
	margin: 45px auto 18px;
	text-align: center;
	color: #ffac13;
	font-size: 14px;
	line-height: 1.5;
}
.contentBanner, .contentBanner1,.contentBanner2,.contentBanner3{
	width: 100%;
	height: 330px;
	position: relative;
	overflow: hidden;
}
.item-list{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 296px;
}
.exposure{
	display: block;
	text-align: center;
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
}
.desc{
	width: 200px;
	height: 40px;
	margin: 5px auto 10px; 
}
.desc a{
	display: block;
	width: 100%;
	height: 100%;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
}
.content_price{
	width: 100%;
	height: 21px;
	text-align: center;
	line-height: 21px;
	margin-bottom: 15px;
}
.content_price a{
	display: block;
	width: 100%;
	height: 100%;
	color: #333;
	font-size: 14px;
}
.item-list img{
	width: 216px;
	height: 154px;
	margin: 0 auto;
}
.contentCircle{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 25px;
	left: 0;
	display: flex;
	justify-content: center;
}
.contentCircleSon{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #b0b0b0;
	margin: 10px;
	cursor: pointer;	
}
.contentCircleSon:hover{
	background: #ff6700;
}
.content_hot{
	box-shadow: 0 0 0 2px #ff6700;
	background: #fff;
}
.contentleft{
	width: 20px;
	height: 48px;
	background: #b0b0b0;
	text-align: center;
	color: #fff;
	line-height: 48px;
	position: absolute;
	top: 30%;
	left: 0;
	display: none;
	cursor: pointer;
}
.contentright{
	width: 20px;
	height: 48px;
	background: #b0b0b0;
	text-align: center;
	color: #fff;
	line-height: 48px;
	position: absolute;
	top: 30%;
	right: 0;
	display: none;
	cursor: pointer;
}
.contentList:hover{
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1); 
	transform:translateY(-2px);
}
.contentList:hover .contentleft{
	display: block;
}
.contentList:hover .contentright{
	display: block;
}
/* 内容结束 */

/* 底部开始 */
footer{
	width: 1226px;
	height: 273px;
	margin: 0 auto;
}
.footer_top{
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
}
.footer_top li{
	width: 242px;
	height: 26px;
	border-right: 1px solid #e0e0e0;
	margin-top: 27px;	
}
.footer_top li:last-child{
	border-right: none;
}
.footer_top li a{
	display: block;
	width: 242px;
	height: 26px;
	text-align: center;
	font-size: 14px;
	color: #616161;
	line-height: 26px;
}
.footer_top li a:hover{
	color: #ff6b00;
}
.footer_center{
	width: 1226px;
	height: 192px;
	display: flex;
}
.center_right{
	width: 251px;
	height: 113px;
	border-left: 1px solid #e0e0e0;
	margin-top: 40px;
}
.phone{
	line-height: 20px;
	color: #ff6700;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
.date{
	line-height: 20px;
	color: #616161;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	margin-top: 6px;
}
.touch{
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	margin: 15px auto;
}
.touch a{
	display: block;
	width: 118px;
	height: 28px;
	font-size: 12px;
	color: #ff6700;
	line-height: 28px;
	text-align: center;
}
.time{
	display: inline;
}
.touch a:hover{
	background: #ff6700; 
	color: #ffffff;
}
.center_left{
	width: 974px;
	height: 113px;
	margin-top: 40px;
	display: flex;
}
.center_left li{
	width: 160px;
	height: 100%;
}
.center_top{
	line-height: 14px;
	font-size: 12px;
	color: #424242;
	margin-bottom: 18px;
}
.center_son,.center_son a{
	width: 50px;
	color: #757575;
	font-size: 12px;
	line-height: 30px;
}
.center_son a:hover{
	color: #ff6b00;
}
/* 底部结束 */
/* 信息开始 */
.information_main{
	width: 1226px;
	height: 166px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.information_img{
	width: 57px;
	height: 57px;
	background: url('../img/logo-footer.png') no-repeat center;
	margin-top: 30px;
	float: left;
}
.information_center{
	width: auto;
	height: 57px;
	margin: 30px 0 0 10px;
	float: left;
}
.information_top{
	width: auto;
	height: 14px;
}
.information_top a{
	display: block;
	height: 12px;
	border-right: 1px solid #b0b0b0;
	font-size: 12px;
	line-height: 12px;
	color: #757575;
	padding: 0 6px 0 6px;
	float: left;
}
.information_top a:last-child{
	border-right: none;
}
.information_top a:hover{
	color: #ff6b00;
}
.information_B,.information_B a{
	width: auto;
	height: auto;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 18px
}
.information_B a:hover{
	color: #ff6b00;
}
.information_right{
	width: 436px;
	height: 28px;
	float: right;
	margin-top: 34px;
	display: flex;
}
.information_right a img{
	width: 84px;
	height: 28px;
}
.last{
	width: auto;
	height: 80px;
	text-align: center;
	line-height: 80px;
	color: #bebebe;
	font-size: 18px;
	font-family: "楷体";
	position: absolute;
	bottom: 0;
	left: 480px;
}
/* 信息结束 */
/* 定位开始 */

.fixed{
	width: 25px;
	height: 214px;
	border: 1px solid #f5f5f5;
	position: fixed;
	right: 34px;
	bottom: 71px;
	z-index: 999;
}
.fixed_top{
	width: 100%;
	height: 159px;
}
.fixed_bottom{
	width: 100%;
	height: 39px;
	margin-top: 15px;
	border-top: 1px solid #f5f5f5;
}
.fixed_top li,.fixed_top li a{
	display: block;
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #f5f5f5;
	line-height: 39px;
	text-align: center;
	background: #ffffff;
	color: #B2B2B2;
}
.fixed_top li a:hover{
	color: #f87300;
}
.fixed_bottom a{
	display: block;
	display: block;
	width: 100%;
	height: 39px;
	line-height: 39px;
	text-align: center;
	background: #ffffff;
	color: #B2B2B2;
}
.fixed_bottom a:hover{
	color: #f87300;
}
/* 定位结束 */
